<h1>Editar Config</h1>

<%
  def render_complex(key, value)
    if value.class == Array || value.class == Hash
      text_area_tag key, value.to_yaml, rows: 12, class: 'form-control input-sm'
    elsif value.in? [true, false]
      check_box_tag key, value, class: 'big_checkbox'
    elsif value.class == Fixnum
      number_field_tag key, value, class: 'form-control input-sm'
    else
      text_field_tag key, value, class: 'form-control input-sm'
    end
  end

  @data.each do |key, value| %>
    <div class="row">
      <div class="col-xs-12 col-sm-4"><strong><%= label_tag key %>:</strong></div>
      <div class="col-xs-12 col-sm-8"><%= render_complex key, value %></div>
    </div>
<% end %>

<%= link_to 'Back', configs_path, { class: 'btn btn-xs btn-default' } %>
