<%
  def render_complex(value)
    if value.class == Array || value.class == Hash
      %Q(<pre>#{value.to_yaml}</pre>).html_safe
    else
      if value.to_s.length > 45
        %Q(<div class="pre-scrollable">#{value}</div>).html_safe
      else
        value.to_s.html_safe
       end
    end
  end

  @data.each do |key, value| %>
    <div class="row">
      <div class="col-xs-12 col-sm-4"><strong><%= label_tag key %>:</strong></div>
      <div class='col-xs-12 col-sm-8'><%= render_complex value %></div>
    </div>
<% end %>

<%= link_to 'Back', configs_path, { class: 'btn btn-xs btn-default' } %>
