<div id="divFood" style="display: none;">
  <div class="row">
    <div class="col-4 text-end"><h2>Nombre: </h2></div>
    <div class="col-8"><h2><strong id="lblNickname"></strong>&nbsp;<i class="fa-solid fa-child" id="childIcon"></i></h2></div>
  </div>
  <div class="row">
    <div class="col-4 text-end"><h2 id="lblFoodAction">lblFoodAction</h2></div>
    <div class="col-8"><h2><strong id="lblTotal"></strong></h2></div>
  </div>
  <div class="row">
    <div class="col-4 text-end"><h2>Usados: </h2></div>
    <div class="col-8"><h2><strong id="lblConsumed"></strong></h2></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-10 text-end"><h2>Personas en Comedor: </h2></div>
    <div class="col-2"><h2>
      <strong id="lblNumIn"></strong>
      <span class="fa-solid fa-triangle-exclamation text-danger" id="imgWarning" style="display: none;"></span></h2>
    </div>
  </div>
</div>
