<h1>Restablecer Contraseña</h1>
<p>
  <%= @data.user_name %> has solicitado restablecer tu contraseña.
</p>
  Para continuar con el proceso visita la siguiente liga:
  <a href="<%= @data.user_rst_url %>"><%= @data.user_rst_url %></a>
<p>
<p>
  Esta liga será válida únicamente por 2 horas.
  Si cambias de parecer solo ignora este correo.
</p>