<% if type == :new
     btn_text = '<i class="fa fa-plus" aria-hidden="true"></i> Nuevo'
   else
     btn_text = '<i class="fa fa-pencil" aria-hidden="true"></i> Editar'
   end
%>
<% if not is_writable %>
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>Modificación Desactivada</strong></div>
      <% if messages.length > 0 %>
          <div class="panel-body">
            <ul>
              <% messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>
<% end
   if is_writable or is_admin %>
    <div class="row text-center extra-space-bottom">
      <%= link_to btn_text.html_safe,
                  path,
                  class: btn_class %>
    </div>
<% end %>