  <p>
    <%= @person.nickname %>, hemos estado afinando cada detalle de
    la organización de esta 2da Conferencia Anual de Cristianismo
    Bíblico y es por eso que le seguimos requiriendo de su apoyo y
    paciencia.
  </p>
  <p>
    Si existe cualquier motivo o circunstancia que le IMPEDIRÁ ASISTIR
    a la conferencia, le pedimos de gran favor que haga click en
    la liga que esta al final de este correo. Esto cancelará su
    asistencia que por motivos administrativos es muy importante,
    ya que si se inscribió con comidas y hospedaje en el campamento
    y al final no asiste, nosotros tendríamos que absorber el costo
    generado de dichos servicios.
  </p>
  <p>
    Si usted ASISTIRÁ, le pedimos que ignore este correo. Y
    NO haga click en la liga de abajo.
  </p>
  <br>
    <a href="<%= @root %>api/v1/<%= @person.get_cancel_route %>">
      CANCELAR MI ASISTENCIA (e invitados)</a>
  <br>
  <br>
  <p>
    Atte. Equipo de Cristianismo Bíblico.
  </p>