<h1><%= @person.name %>, Bienvenido a la Segunda Conferencia Anual 2015</h1>
<p>
  Te has suscrito exitosamente a la Segunda Conferencia Anual de Cristianismo Bíblico,
  tu nombre de usuario es el correo con el que te registraste (<%= @person.email %>).<br>
  Te invitamos (si no lo has hecho) a completar la información de tus invitados, así como si 
  requieres alimentos, hospedaje y transporte durante el evento.<br>
  No te olvides de visitar el <a href="<%= @root %>">sitio de registro</a>
  ya que ahí actualizaremos las noticias importantes de la conferencia.
</p>
<p>El Cordero es Digno!</p>
