.row.special
  %h2.text-center
    %i.fa.fa-info-circle{'aria-hidden': 'true'}
    Información general

  .col-md-4
    %h4 Inscripciones
    %p.text-justify
      %strong ¡Cupo Limitado!
      La inscripción tendrá un costo de #{number_to_currency 'c.event_full'} pesos (MX) para personas de #{'c.adult_age'} años en adelante.
      Adicionalmente habrá una caja para ofrendas totalmente voluntarias.

      %h4 Ubicación
      %address
        %strong Campamento la Roca
        Camino a La Roca #1400
        45600, San Sebastian el Grande, Jal
      %p.text-justify
        (a 20-30 minutos de la plaza "Centro Sur" en el Periférico Sur)
      %h5.text-center
        - link_to '<i class="fa fa-link"></i> Google Maps'.html_safe,
                  'c.maps_link',
                  target: '_blank'

-#
  <div class="col-md-4">
    <h4></h4>
    <p class="text-justify"><strong></strong><br>
      La inscripción tendrá un costo de <strong><%= number_to_currency c.event_full %> pesos (MX)</strong> para personas de <%= c.adult_age %> años en adelante.<br>
      Adicionalmente habrá una caja para ofrendas totalmente <strong>voluntarias</strong>.</p>
    <br>
    <h4></h4>
    <address>
      <strong>Campamento la Roca.</strong><br>
      Camino a La Roca #1400<br>
      45600, San Sebastian el Grande, Jal.<br>
    </address>
    <p class="text-justify">
      (a 20-30 minutos de la plaza "Centro Sur" en el Periférico Sur)</p>
    <h5 class="text-center">
      <%= link_to '<i class="fa fa-link"></i> Google Maps'.html_safe,
        c.maps_link,
        target: '_blank' %>
    </h5>
  </div>
  <div class="col-md-4">
    <h4>Comidas</h4>
    <span class="text-warning"><strong>¡Cupo Limitado!</strong></span><br>
    <p class="text-justify">
      <strong>En el campamento.</strong> Existe la opción de comer hasta 3 veces al día en el campamento
      (desayuno, comida, cena). Pero es necesario confirmar las comidas que tú y tus invitados
      consumirán antes de llegar. Serán alimentos calientes preparados por el personal del campamento.</p>
    <p>Los costos de las comidas son:</p>
      <ul>
        <li>Adultos (de <%= c.adult_age %> años en adelante): <%= number_to_currency c.food_full %> pesos (MX) por comida.</li>
        <li>Niños (de 5-10 años): <%= number_to_currency c.food_half %> pesos por comida.</li>
        <li>Infantes (de 0-4 años): gratis.</li>
      </ul>
    <p class="text-justify">Además, habrá una tiendita en el campamento para comprar botanas, nieves y refrescos. Café gratuito será servido
      periódicamente durante la conferencia. Cerca del campamento hay un Oxxo, una Farmacia Guadalajara, y pequeños
    puestos de restaurantes en la colonia.</p>
  </div>
  <div class="col-md-4">
    <h4>Hospedaje</h4>
    <span class="text-warning"><strong>¡Cupo Limitado!</strong></span><br>
    <p class="text-justify">
      <strong>En el campamento.</strong> Cada uno de los que ya reservaron su lugar en los dormitorios del campamento
      debe traer su propia ropa de cama (sleeping bags, cobijas, almohadas, etc.).</p>
        <p>
      Los costos de los dormitorios son:</p>
      <ul>
        <li>Adultos (de <%= c.adult_age %> años en adelante): <%= number_to_currency c.allo_full %> pesos (MX) por persona</li>
        <li>Niños (de 5-10 años): <%= number_to_currency c.allo_half %> pesos por persona.</li>
        <li>Infantes (de 0-4 años): gratis.</li>
      </ul>
    <p class="text-justify">Este precio por persona cubre las noches del viernes, sábado, y domingo (<strong>3 noches</strong>).
      Es decir, este es el precio total por persona que cubre todas las noches de la conferencia.
    </p>
    <p class="text-justify">
      <strong>En Hotel.</strong>
      Se tiene convenio con ciertos hoteles estratégicos, puedes consultarlos a continuación y pedir
      que se aplique el código de descuento.</p>
        <h5 class="text-center">
      <%= link_to '<i class="fa fa-file-pdf-o"></i> Lista de hoteles (PDF)'.html_safe,
        'documents/2hoteles_conf.pdf' %>
        </h5>
        <h5 class="text-center">
          <%= link_to '<i class="fa fa-link"></i> Lista de hoteles (WEB)'.html_safe,
            controller: :hotels,
            action: :show_all %>
        </h5>
  </div>
  </div>

  <div class="row special">
    <div class="col-md-4">
      <h4>Libros a la venta</h4>
      <p class="text-justify">Serán títulos de sana doctrina, recomendados por Josef Urban. Tendremos una selección
        de más de 100 libros que cubren muchos temas bíblicos, con libros de teología,
        comentarios bíblicos, ayudas pastorales, etc.
      </p>
    </div>
    <div class="col-md-4">
      <h4>Transportación Local</h4>
      <p class="text-justify">Habrá un servicio especial de transporte que saldrá del centro comercial Centro Sur con destino al campamento
        la Roca.</p>
      <h5 class="text-center">
      <%= link_to '<i class="fa fa-file-pdf-o"></i> Mapa para llegar al lugar'.html_safe,
        'documents/1mapa_rutas_conf.pdf' %>
      </h5>
    </div>
    <div class="col-md-4">
      <h4>Informes (oficina)</h4>
      <p>
        <i class="fa fa-phone" aria-hidden="true"></i>
        <%= link_to number_to_phone(c.main_phone,
          area_code: true),
          'tel:' + c.main_phone %><br>
        &nbsp; &nbsp; Horarios: Lunes a Viernes, 3pm-7pm<br>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <%= mail_to c.main_email,
          'Registro Cristianismo Biblico',
          subject: 'Informes de Conferencias',
          encode: 'hex' %>
      </p>
    </div>
  </div>