.row.special
  %h2.text-center
    %i.fa.fa-calendar{'aria-hidden': 'true'}
    Agenda

  - Rails.application.config.reg_schedule.each do |key,val|
    -# key = friday, saturday, sunday, monday
    -# val = array[ { hour: Name } ]
    - date = val['date'].is_a?(String) ? DateTime.parse(val['date']) : val['date']
    .col-md-3
      %div
        -# Day Name
        %h4= I18n.localize date, format: '%A, %d %B'
        -# Hour - Event
      - val['day'].each do |key,value|
        %span
          %strong= "#{key}:"
          = render_fa_image value
        %br/
