<% content_for :title do %>Recuperar<% end %>
<div class="container" style="width: 300px">
  <form class="form-horizontal" action="/recover" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <h2>Restablecer</h2>

    <div class="form-group">
      <%= email_field_tag :email, '', placeholder: 'Email', class: 'form-control input-sm col-sm-4', required: true %>
    </div>

    <br>
    <div class="form-group">
      <div class="col-md-offset-6 col-md-6">
        <%= submit_tag 'Aceptar', data: { disable_with: 'Procesando...' }, class: 'btn btn-sm btn-primary btn-block' %>
      </div>
    </div>
  </form>

</div> <!-- /container -->