-# frozen_string_literal: true
%h3 Solicitadas
= render 'food_table', count: @totals_food.dig(:requested, :count),
                       money: @totals_food.dig(:requested, :money),
                       money_total: @totals_food.dig(:requested, :money_total)
%br

-# -----------------------------------------------------------------------------------------------
%h3 Pagadas
= render 'food_table', count: @totals_food.dig(:paid, :count),
                       money: @totals_food.dig(:paid, :money),
                       money_total: @totals_food.dig(:paid, :money_total)
%br

-# -----------------------------------------------------------------------------------------------
%h3 Consumo Real
= render 'food_table', count: @totals_food.dig(:used, :count),
                       money: @totals_food.dig(:used, :money),
                       money_total: @totals_food.dig(:used, :money_total)
%br
%br
