<div class="row text-center">
  <div><img src="<%= image_path 'error.png' %>" style="height: 128px;width: 128px;"></div>
  <div class="row text-center text-danger">
  <div><h1>Error 404</h1></div>
  </div>
</div>
<div class="row text-center">
    <h4>Ruta no encontrada</h4>
</div>
