<%
  err_msg = 'Ruta no encontrada'
  err_code = '404'
%>
<br>
<br>
<div class="row text-center">
  <img src="<%= image_path 'error.png' %>" style="height: 128px;width: 128px;">
  <h1 class="text-danger">Error <%= err_code %></h1>
</div>
<div class="row text-center">
  <h4><%= err_msg %></h4>
  <br>
  <%= link_to '&laquo; regresar'.html_safe, root_url, { class: 'btn btn-sm btn-link' } %>
</div>
