$friday:   #5cb85c;
$saturday: #5b9ebd;
$sunday:   #f0ad4e;
$monday:   #d9534f;

.friday-bg   { background-color: $friday; }
.saturday-bg { background-color: $saturday;}
.sunday-bg   { background-color: $sunday;}
.monday-bg   { background-color: $monday;}
.friday-text   { color: $friday; }
.saturday-text { color: $saturday; }
.sunday-text   { color: $sunday; }
.monday-text   { color: $monday; }