$friday:   #5cb85c;
$saturday: #5b9ebd;
$sunday:   #f0ad4e;
$monday:   #d9534f;

.friday-bg   { background-color: $friday !important; }
.saturday-bg { background-color: $saturday !important; }
.sunday-bg   { background-color: $sunday !important; }
.monday-bg   { background-color: $monday!important; }
.friday-text   { color: $friday !important; }
.saturday-text { color: $saturday !important; }
.sunday-text   { color: $sunday !important; }
.monday-text   { color: $monday !important; }
