<div class="text-center">
  <h2>
    Hoteles
  </h2>
</div>
<%
  hotels = Hotel.all.order :name
  hotels.each do |h| %>
    <%= render h, locals: { hotel: h } %>
    <% unless h == hotels.last %>
    <hr>
    <% end %>
<% end %>