# pulled from repo
name: "Rubocop"

on:
  push:
    branches: [ main, master ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main, master ]
  schedule:
    - cron: '40 10 * * 6' # Every Saturday at 10:40 UTC

jobs:
  rubocop:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    # If running on a self-hosted runner, check it meets the requirements
    # listed at https://github.com/ruby/setup-ruby#using-self-hosted-runners
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.4.7
        bundler-cache: true

    - name: Install dependencies
      run: bundle install

    - name: Rubocop run
      run: |
        bundle exec rubocop --require code_scanning --format CodeScanning::SarifFormatter -o rubocop.sarif || true

    - name: Upload Sarif output
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: rubocop.sarif
