<div style="height: 19px;
  margin-top: 0px;
  margin-bottom: 19px;
  background-image: url(<%= image_path 'nav_uc.png' %>)">
  <div style="font-size: large;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000;
    font-weight: bolder;">Test Version</div>
</div>
