<%# To trigger
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mainModal">
  Modal
</button>
%>
<div class="modal fade" id="mainModal" tabindex="-1" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mainModalLabel">
          <%= yield :title if content_for? :title %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= yield %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary invisible" id="btnSave">Guardar</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="btnClose">Cerrar</button>
      </div>
    </div>
  </div>
</div>
